In [1]:
# Importing all required libraries,
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import sweetviz
from sklearn.impute import SimpleImputer
from feature_engine.outliers import Winsorizer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [2]:
steel=pd.read_csv(r"C:/Users/Admin/Desktop/Data100 (1) (1).csv")
steel.tail(5)

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost
9995,17-10-1995,11:31 AM,Hyderabad,572396.56,8.67,62.63,Winter,A7658687,16.58,18.47,Fe-500D,10050.72,839.01,9.71,2.80,12493.22,19874.93
9996,16-10-1995,11:50 AM,Delhi,571085.56,8.32,59.21,Winter,EA821A8A,15.42,10.16,Fe-500D,7411.87,638.01,NaN,3.67,11798.58,19461.82
9997,15-10-1995,1:16 PM,Hyderabad,557597.56,9.09,59.65,Winter,52A68B1D,12.81,17.33,Fe-500D,7904.99,645.02,10.33,3.32,11543.68,17701.79
9998,14-10-1995,4:38 PM,Kolkata,543957.38,9.52,61.40,Winter,EBAB703E,16.95,21.01,Fe-550,9659.26,976.38,9.90,3.05,NaN,18750.50
9999,13-10-1995,10:10 AM,Kolkata,458324.91,7.62,63.58,Winter,A7658687,23.78,21.07,Fe-550,11568.40,1170.53,7.94,4.69,11245.40,19096.81

In [3]:
steel.dtypes

Date                       object
time                       object
Location                   object
Sales in Rs/T             float64
Sales volume in Tonnes    float64
Price/ kg                 float64
Climate                    object
Customer ID                object
Diameter                  float64
Length                    float64
Grade                      object
Current stock             float64
Re-order                  float64
Lead time                 float64
Production time           float64
units produced            float64
Production cost           float64
dtype: object

In [4]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user = "root",# user
                               pw = "Shravankarthikeyan", # passwrd
                               db = "rods")) #database

steel.to_sql('rods', con = engine, if_exists = 'replace', chunksize = 10000, index = False)

10000

In [10]:
#pip install mysql
#pip install mysql-connector-python
import mysql.connector as connector

In [11]:
con = connector.connect(host = 'localhost',
                  port = '3306',
                  user = 'root',
                  password = 'Shravankarthikeyan',
                  database = 'rods',
                  auth_plugin = 'mysql_native_password')

In [12]:
cur = con.cursor()
con.commit()

cur.execute('SELECT * FROM rods')
df = cur.fetchall()

In [13]:
steel = pd.DataFrame(df)